/CMakeLists.txt
beginner_tutorials/
multimaster_fkie/
mastering_ros/

urs_wearable/include/*.pb.*

urs_wearable/cpa/cpa1/bison.c
urs_wearable/cpa/cpa1/built_date
urs_wearable/cpa/cpa1/cpa+
urs_wearable/cpa/cpa1/lcp.output
urs_wearable/cpa/cpa1/lcp.tab.c
urs_wearable/cpa/cpa1/lcp.tab.h
urs_wearable/cpa/cpa1/lex.c
urs_wearable/cpa/cpa1/tok.h
urs_wearable/cpa/cpa1/main.temp.cpp
urs_wearable/cpa/cpa1/new.pl
urs_wearable/cpa/cpa1/pddl2pl.pl
urs_wearable/cpa/cpa1/plan-result
urs_wearable/cpa/cpa1/temp
urs_wearable/cpa/cpa1/trash
urs_wearable/cpa/cpa1/urs.pddl
urs_wearable/cpa/cpa1/*.o
urs_wearable/cpa/cpa1/*.pb.*
urs_wearable/cpa/cpa1/theory_*

urs_wearable/cpa/cpa2/bison.c
urs_wearable/cpa/cpa2/built_date
urs_wearable/cpa/cpa2/cpa+
urs_wearable/cpa/cpa2/lcp.output
urs_wearable/cpa/cpa2/lcp.tab.c
urs_wearable/cpa/cpa2/lcp.tab.h
urs_wearable/cpa/cpa2/lex.c
urs_wearable/cpa/cpa2/tok.h
urs_wearable/cpa/cpa2/main.temp.cpp
urs_wearable/cpa/cpa2/new.pl
urs_wearable/cpa/cpa2/pddl2pl.pl
urs_wearable/cpa/cpa2/plan-result
urs_wearable/cpa/cpa2/temp
urs_wearable/cpa/cpa2/trash
urs_wearable/cpa/cpa2/urs.pddl
urs_wearable/cpa/cpa2/*.o
urs_wearable/cpa/cpa2/*.pb.*
urs_wearable/cpa/cpa2/theory_*

urs_wearable/cpa/experiments/new.pl
urs_wearable/cpa/experiments/pddl2pl.pl
urs_wearable/cpa/experiments/plan-result
urs_wearable/cpa/experiments/temp
urs_wearable/cpa/experiments/trash
urs_wearable/cpa/experiments/theory_*
urs_wearable/cpa/pddl2a/bison.c
urs_wearable/cpa/pddl2a/cpa.pddl2pl
urs_wearable/cpa/pddl2a/lcp.output
urs_wearable/cpa/pddl2a/lcp.tab.c
urs_wearable/cpa/pddl2a/lcp.tab.h
urs_wearable/cpa/pddl2a/lex.c
urs_wearable/cpa/pddl2a/lex.yy.c
urs_wearable/cpa/pddl2a/tok.h
urs_wearable/cpa/pddl2a/*.o

urs_wearable/madagascar/*.o
urs_wearable/madagascar/*.pb.*
urs_wearable/madagascar/*.pb-c.*
urs_wearable/madagascar/M
urs_wearable/madagascar/Mp
urs_wearable/madagascar/MpC
urs_wearable/madagascar/lex.yy.c
urs_wearable/madagascar/parser.tab.c
urs_wearable/madagascar/parser.tab.h
urs_wearable/madagascar/zPRINTDATE