<?xml version="1.0"?>

<launch>
	<node pkg="urs_wearable" type="action_server" name="action_server_0" respawn="true" output="screen">
    <param name="ns" value="/uav0" type="str" />
	</node>
	
	<node pkg="urs_wearable" type="action_server" name="action_server_1" respawn="true" output="screen">
    <param name="ns" value="/uav1" type="str" />
  </node>
  
  <node pkg="urs_wearable" type="action_server" name="action_server_2" respawn="true" output="screen">
    <param name="ns" value="/uav2" type="str" />
  </node>
  
  <node pkg="urs_wearable" type="action_server" name="action_server_3" respawn="true" output="screen">
    <param name="ns" value="/uav3" type="str" />
  </node>
</launch>
