<?xml version="1.0"?>

<launch>
  <include file="$(find urs_wearable)/launch/nmsu.launch" />
  <include file="$(find urs_wearable)/launch/spawn_quadrotors.launch" />
  <include file="$(find urs_wearable)/launch/action_server.launch" />

  <!-- Start rviz visualization with preset config -->
  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find urs_wearable)/rviz_cfg/four_quadrotors.rviz" />  -->
</launch>
