<?xml version="1.0"?>

<model>
  <name>nmsu_trimmed</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Poom Pianpak</name>
    <email>ppianpak@nmsu.edu</email>
  </author>

  <description>
    A model of NMSU area from OSM with powerlines and roads removed
  </description>

</model>
